{% raw %}<div id="header" class="header header-fill">
  <div class="header-brand">
    <div class="nav-item">
      <a href="/">
        <h6 class="title">{% for site_name in site.site_name -%}{{ site_name }}{% endfor -%}</h6>
      </a>
    </div>
  </div>
  <div class="header-nav" id="header-menu">
    <!--<div class="nav-left u-text-center">
      <div class="nav-item u-text-center">
        <a href="https://github.com/Spiderpig86/Cirrus">
          <span class="icon">
            <i class="fab fa-wrapper fa-github"></i>
          </span>
        </a>
      </div>
    </div>-->
    <div class="nav-right u-text-center nav-menu">
      <div class="nav-item">
        <a href="/"><span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span> Home</a>
      </div>
      <div class="nav-item u-text-center nav-menu"><a href="/about/">About Us</a></div>
      <div class="nav-item u-text-center nav-menu"><a href="/services/">Our Services</a></div>
      <div class="nav-item u-text-center nav-menu"><a href="/blog/">Our Blog</a></div>
      <div class="nav-item u-text-center nav-menu"><a href="/contact/">Contact Us</a></div>
      <!--<div class="nav-item u-text-center has-sub">
        <a class="nav-dropdown-link">Dropdown</a>
        <ul class="dropdown-menu dropdown-animated">
            <li><a href="#">Our Team</a></li>
        </ul>
      </div>-->
    </div>
  </div>
</div>{% endraw %}
