{% raw %}<div id="header" class="header header-fill unselectable header-animated">
    <div class="header-brand">
        <div class="nav-item no-hover">
          <a href="/">
            <h6 class="title">{% for site_name in site.site_name -%}{{ site_name }}{% endfor -%}</h6>
            <!--<img src="{{ site.site_url }}/assets/img/logo.png" width="350"/>-->
          </a>
        </div>
        <div class="nav-item nav-btn" id="header-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="header-nav" id="header-menu">
      <div class="nav-left u-text-center">
        <div class="nav-item u-text-center"><a href="https://github.com/lendlsmith/eleventy-cirrus"><span class="icon"><i class="fab fa-wrapper fa-github"></i></span></a></div>
      </div>
      {% assign navPages = collections.all | eleventyNavigation %}
      <div class="nav-right">
        {%- for entry in navPages %}
          <div{%- for child in entry.children %} id="dropdown" class="nav-item has-sub toggle-hover" {% else %} class="nav-item"{%- endfor %}>
            <a href="{{ entry.url }}" class="nav-dropdown-link">{{ entry.title }}</a>
            {%- for child in entry.children %}
              <ul class="dropdown-menu dropdown-animated" role="menu">
                {%- for child in entry.children %}
                  <li role="menu-item"><a href="{{ child.url }}">{{ child.title }}</a></li>
                {% endfor -%}
              </ul>
            {%- endfor %}
          </div>
        {%- endfor %}
      </div>
      <div class="nav-item">
          <a href="#search"><i class="fas fa-search" style="font-size: 14px;"></i> &nbsp;&nbsp;Search</a>
        </div>
    </div>
</div>

<div class="modal modal-large modal-animated--zoom-in" id="search">
  <a class="btn-close modal-overlay" href="javascript:history.back()"></a>
  <div class="modal-content" role="document">
    <div class="modal-header">
      <a class="u-pull-right" href="javascript:history.back()"><i class="fas fa-times"></i></a>
      <div class="modal-title">Search</div>
    </div>
    <div class="modal-body">
      <input autocomplete="off" type="search" id="search" placeholder="Search our site!"/>
      <div class="row">
        <div id="results">
        </div>
      </div>
    </div>
  </div>
</div>{% endraw %}
