{% raw %}<div id="header" class="header header-fill unselectable header-animated">
    <div class="header-brand">
        <div class="nav-item no-hover">
          <a href="/">
            <h6 class="title">{% for site_name in site.site_name -%}{{ site_name }}{% endfor -%}</h6>
            <!--<img src="{{ site.site_url }}/assets/img/logo.png" width="350"/>-->
          </a>
        </div>
        <div class="nav-item nav-btn" id="header-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="header-nav" id="header-menu">
      <div class="nav-left u-text-center">
        <div class="nav-item u-text-center"><a href="https://github.com/lendlsmith/eleventy-cirrus"><span class="icon"><i class="fab fa-wrapper fa-github"></i></span></a></div>
      </div>
      {% assign navPages = collections.all | eleventyNavigation %}
      <div class="nav-right">
        {%- for entry in navPages %}
          <div{%- for child in entry.children %} id="dropdown" class="nav-item has-sub toggle-hover" {% else %} class="nav-item"{%- endfor %}>
            <a href="{{ entry.url }}" class="nav-dropdown-link">{{ entry.title }}</a>
            {%- if entry.children -%}
              <ul class="dropdown-menu dropdown-animated" role="menu">
                {%- for child in entry.children %}
                  <li role="menu-item"><a href="{{ child.url }}">{{ child.title }}</a></li>
                {% endfor -%}
              </ul>
            {%- endif %}
          </div>
        {%- endfor %}
      </div>
    </div>
</div>{% endraw %}
