{% raw %}
{% for facebook in social.facebook -%}<a href="{{ facebook }}" target="_blank"><i class="fab fa-facebook-square"></i></a>{% endfor -%}
{% for twitter in social.twitter -%}<a href="{{ twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>{% endfor -%}
{% for instagram in social.instagram -%}<a href="{{ instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>{% endfor -%}
{% for youtube in social.youtube -%}<a href="{{ youtube }}" target="_blank"><i class="fab fa-youtube"></i></a>{% endfor -%}
{% endraw %}
