{% raw %}<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% for site_name in site.site_name -%}{{ site_name }}{% endfor -%} &nbsp;| {{ title }}</title>

    {% include utils/facebook_opengraph.html %}
    {% include utils/google_analytics.html %}
    {% include utils/favicon.html %}

    {% include base/stylesheet.html %}

  </head>
  <body class="{{ body_class }}">

    {% include base/navigation.html %}

    <div id="content" class="row">
      <div id="standard_page" class="col-10 offset-1">
        {% include utils/social_media.html %}
        {{ content }}
      </div>
    </div>

    {% include base/footer.html %}

    {% include base/js.html %}

  </body>
</html>{% endraw %}
