$primary: #3E50b4;
$secondary: #E91E63;
$dark-metal: #222222;
$emperor: #777777;
$black: #0A0A0A;
$white: #FEFEFE;
$off-white : #F9F9F9;

h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat', sans-serif;}
p {font-family: 'Nunito Sans', sans-serif; color: $emperor;}

body {
    background: $off-white;
}

#content {min-height: 90vh}

.row {
  max-width: 85rem;
  margin-right: auto;
  margin-left: auto;
}

.button {
  background: $primary;
  color: $white;
  padding: 8px 12px;
  border-radius: 5px;
}

.button:hover {
  background: darken($primary, 10%);
  color: $white;
}

.button.secondary {background: $secondary;}
.button.secondary:hover {background: darken($secondary, 10%);}

.pad {padding: 30px 10px;}
.card {padding: 20px;}

.modal {
  min-height: 100vh;
  z-index: 9999;

  &.modal-large .modal-content {
    min-width: 50vw;
    .card {padding: 20px;}
    h4 {font-size: 20px; font-weight: 500; margin-bottom: 8px;}
    h4.no-result {color: $primary;}
    p {font-size: 13px; margin-top: 5px;}
  }

  .modal-content .modal-body {
    max-height: 80vh;
  }

  &.shown .modal-overlay, &:target .modal-overlay {
    background-color: rgba($black,.85);
  }
}
