{% raw %}---
permalink: '/feed.json'
---

{
  "title": "{% for site_name in site.site_name -%}{{ site_name }}{% endfor -%}",
  "homepage_url": "{{ site.site_url }}",
  "blog_url": "{{ site.site_url }}/blog",
  "feed_url": "{{ site.site_url }}/feed.json",
  "posts": [
    {% for item in collections.post %}
      {
        "title": "{{ item.data.title }}",
        "date_published": "{{ item.data.date | readableDate }}",
        "url": "{{ site.site_url }}{{ item.data.permalink }}",
        "description": "{{ item.data.intro }}"
      }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}{% endraw %}
