{% raw %}<meta property="og:title" content="{{ title }}"/>

<meta property="og:site_name" content="{% for site_name in site.site_name -%}{{ site_name }}{% endfor -%}"/>

<script>
  var link = document.createElement('meta');
  link.setAttribute('property', 'og:url');
  link.content = "{% for site_url in site.site_url -%}{{ site_url }}{% endfor -%}" + window.location.pathname;
  document.getElementsByTagName('head')[0].appendChild(link);
</script>

<meta property="og:type"   content="website" />

{% if intro %}
  <meta property="og:description" content="{{ intro }}"/>
{% else  %}
  <meta property="og:description" content="{% for description in site.description -%}{{ description }}{% endfor -%}"/>
{% endif %}

{% if remote_image %}
  <meta property="og:image" content="{{ remote_image }}" />
{% else  %}
  <meta property="og:image" content="{{ image }}" />
{% endif %}

<meta property="fb:app_id" content="{% for app_id in site.app_id -%}{{ app_id }}{% endfor -%}" />{% endraw %}
