{% raw %}<div id="slider" class="splide">
	<div class="splide__track">
		<ul class="splide__list">
			{% for slide in homepage.slider.slide -%}
				<li class="splide__slide">
					<div class="row pad">
						<div class="col-10 offset-center">
							<div class="row level">
								<div class="col-6 u-text-center">
									<img src="{{ slide.image }}" alt="{{ slide.title }}" width="400">
								</div>
								<div class="col-6 caption">
									<h1><strong>{{ slide.title }}</strong></h1>
									<h6>{{ slide.caption }}</h6>
									<a href="{{ slide.link }}" class="button secondary" target="_blank"><strong>Learn More >></strong></a>
								</div>
							</div>
						</div>
					</div>
				</li>
			{% endfor -%}
		</ul>
	</div>
</div>{% endraw %}
